<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li>
        <%= link_to product.name, department_product_path(product.department, product) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3> No products in cart, go shopping!</h3>
<% end %>
