<h1> <%= @department.name %> </h1>
<hr />

<div>
  <% if @department.phone_number %>
    <p>Phone Number: <%= @department.phone_number %> </p>
  <% end %>

  <%= link_to '@department.name products', department_products_path(@department) %>
