<<<<<<< HEAD
<h1> <%= @department.name %> </h1>
<hr />

<div>
  <% if @department.phone_number %>
    <p>Phone Number: <%= @department.phone_number %> </p>
  <% end %>

  <%= link_to 'Products', department_products_path(@department) %>
=======
<h1>Departments#show</h1>
<p>Find me in app/views/departments/show.html.erb</p>


<%= link_to "Products", department_products_path(@department) %>
>>>>>>> added paperclip
