/*@import "materialize/components/color";*/
@import 'materialize';
@import 'shared';
@import 'stores';
@import 'departments';
@import 'products';
@import 'app';

* {
	/*border: 1px solid red;*/
}

.body-color {

	background-color: #DADCD0
	 !important;
	/*background-color: #fff !important;*/
}

.bgcolor {
	background-color: lightgray
	 !important;
}

.productform {
	background-color: lightblue;
}

.productformz {
	background-color: black;
}


// #DADCD0

  /* --------  N A V  -------- */


nav {
	display: flex;
	justify-content: space-between;
	background-color: #313139;
}

nav .logo {
	margin-left: 20px;
}

nav h3 {
	color: #a0abb7 !important;
	font-weight: bold;
	font-family: 'Audiowide', cursive;
}

nav .nav-links {
	margin-right: 20px;
}

nav ul li a {
	color: #efefef;
}

.cart-icon {
	padding-top: 4px;
}


/* ------- S T O R E S ------- */


.profile_color_red {
	/*background-color: #cf4857 !important;*/
}

.profile_color_blue {
	/*background-color: #1c6a81 !important;*/
}

.profile_color_green {
	/*background-color: #16a89e !important;*/
}

.profile_color_orange {
	/*background-color: #f7624a !important;*/
}

.profile_color_yellow {
	/*background-color: #f5ac43 !important;*/
}

.profile_color_purple {
	/*background-color: #81628b !important;*/
}

.profile_color_pink {
	/*background-color: #dd557b !important;*/
}

.stores {
	/*background-color: #cf4857 !important;*/
	/*background-color: #16a89e !important;*/
	/*background-color: #81628b !important;*/
	/*background-color: #f5ac43 !important;*/
	/*background-color: #f7624a !important;*/
	/*background-color: #1c6a81 !important;*/
	/*background-color: #dd557b !important;*/
	/*border: 1px solid black;*/
}

.stores .card-action{
	/*background-color: #cf4857 !important;*/
	/*background-color: #16a89e !important;*/
	/*background-color: #81628b !important;*/
	/*background-color: #f5ac43 !important;*/
	/*background-color: !important;*/
}

.stores a {
	color: #fff !important;
}

.submit-button a {
	background-color: #313139;
}

.submit-button a:hover {
	background-color: #313139;
}

.form-button, .form-button:hover {
	background-color: #313139;
}


.footer {
	background-color: #313139 !important;
}











.pricedescription {
  margin-top: 50px;
  background-color: lightblue;
  border-radius: 5px

}

.productimage {
  margin-top: 30px;
}

body {
  font-family: bodoni;
}

.border {
	border: 2px solid black;

}
