<footer class="page-footer footer ">
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!"></a>
    </div>
  </div>
</footer>
            